.form
{
    display: flex;
    flex-direction: column;

    @include respond(tab-port){margin-bottom: 4rem;}

    & > *:not(:last-of-type)
    {
        margin-bottom: 3rem; 
    }

    &__input--container
    {
        position: relative;  
    }

    &__label, &__error
    {
        position: absolute;
        z-index: 5;
        top: -1.2rem;
        left: 0;
        font-size: 1.5rem;
        margin: 0 2rem;
        padding: 0 1rem;
        white-space: nowrap;
        background-color: var(--color-section-background);
    }
    
    &__input
    {
        width: 100%;
        background-color: transparent !important;
        padding: 1.6rem;
        color: var(--color-main-font);
        font-size: 1.6rem;
        border: 1px solid var(--color-navigation-border);
        transition: all .5s ease;

        &.border__error.border__error
        {
            border: 1px solid red;
        }

        &:focus
        {
            outline: none;
            border: 1px solid var(--color-primary);
        }
    }

    &__error
    {
        color: red;
        // font-size: 1.6rem;
        // margin-left: 3rem; // to be under label : (padding + margin ) of the label
        // margin-top: 1rem;
    }
    .main__button
    {
        align-self: flex-start;
    }
}