.popup
{
    &__background
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-section-header-background, .9);
        z-index: 10;
    }

    &__close--button
    {
        font-size: 4rem;
        color: $color-white;
        cursor: pointer;
        position: fixed;
        right: 0;
        margin: 2rem;
    }

    &__content
    {
        position: fixed;
        top: 12.5vh;
        left: 18.5%;
        width: 63%;
        height: 75vh;
        z-index: 100;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        iframe
        {
            width: 100%;
            height: 100%;
        }
    }

    &__message
    {
        background-color: $color-gray-dark-3;
        height: 20%;
        width: 50%;
        border: 1px solid $color-gray-light-3;
        position: relative;
        
        &--title
        {
            border-bottom: 1px solid $color-white;
            color: $color-white;
            font-size: 2rem;
            padding: 1rem;
        }
        .main__paragraph
        {
            padding: 1rem;
        }
    }
}