.projects // used in portfolio component
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.project
{
    flex-basis: 30%;
    margin-bottom: 2rem;
    padding: 2rem;
    height: 43rem;
    border: .5rem solid $color-navigation-background;
    position: relative;
    
    &:hover > &__details--container
    {
        transform: translate(4.5rem, -7rem);
    }
    &:hover > &__icons
    {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) scaleY(1);
        opacity: 1;
    }
    &__details--container
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to right, $color-navigation-border 0%, $color-navigation-border 50%, $color-navigation-background 50%);
        box-shadow: 0 0 2rem rgba($color-navigation-background, .7);
        margin: 1rem;
        padding: 1rem;
        text-align: center;
        transition: all .5s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        // display: none; ////////////////////////////////////////////////////////////////////////////////////////////////////

        & > *:not(:last-child){margin-bottom: 1rem;}
    }
    &__title
    {
        font-size: 2.5rem;
        color: $color-white;
    }
    &__description
    {
        font-size: 1.7rem;
    }
    .main__button
    {
        font-size: 1.5rem;
        padding: 1rem;
    }
    &__icons
    {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%) scaleY(0);
        opacity: 0;
        transition: all .5s ease;
    }
    &__icon
    {
        background-color: $color-main-font;
        color: white;
        border-radius: 50%;
        height: 4.5rem;
        width: 4.5rem;
        cursor: pointer;
        transition: all .3s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover
        {
            background-color: $color-primary;
        }
    }
}
