// .footer
// {
//     background-color: $color-grey-dark-3;

//     display: flex;
//     flex-direction: column;
    
//     &__image--container
//     {
//         text-align: center;
//         margin-bottom: 3rem;

//         @include respond(phone)
//         {
//             transform: scale(.9);
//         }
//     }
//     &__text
//     {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         @include respond(phone)
//         {
//             flex-wrap: wrap;

//             &>*
//             {
//                 flex: 0 1 100%;
//                 text-align: center;
//             }
//         }
//     }
//     &__copy
//     {
//         font-size: 1.4rem;

//         @include respond(phone)
//         {
//             margin-bottom: 2rem;
//         }
//     }
//     &__icons
//     {
        
//         &>*:not(:last-of-type)
//         {
//             margin-right: 1rem;
//         }
//     }
//     &__link
//     {
//         text-decoration: none;
//         color: inherit;
//         font-weight: inherit;
//     }
//     &__icon
//     {
//         font-size: 1.6rem;
//         cursor: pointer;

//         &--1:hover{color: #3b5998;}
//         &--2:hover{color: #1da1f2;}
//         &--3:hover{color: #7232bd;}
//         &--4:hover{color: #0a66c2;}
//     }
// }