.navigation
{
    height: 100vh;
    width: 17%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid $color-navigation-border;
    background: $color-navigation-background;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__image
    {
        width: 18rem;
        border-radius: 50%;
        border: 6px solid #2E344E;
        box-sizing: content-box;
        
        &--container
        {
            border-bottom: 1px solid $color-navigation-border;
            text-align: center;
            padding-bottom: 2rem;
        }
    }

    &__list
    {
        list-style: none;
        padding: 5rem .5rem;
        text-align: center;
        margin-bottom: auto;
    }
    
    &__item
    {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
        margin: 1px 0;
        padding: .8rem;
        position: relative;

        &--selected
        {
            background-color: $color-primary-hover;
            color: $color-white !important;
        }

        &:hover
        {
            color: $color-primary-hover;
        }

        &::before
        {
            content: " ";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 0%;
            background-color: $color-primary-light;
            transition: all .5s ease-in-out;
        }
        
        &:hover::before
        {
            width: 100%;
        }        
    }

    .navigation__item.navigation__item--selected
    {
        &::before
        {
            content: "";
            width: 0%;
            transition: width 0s;
        }
    }


    &__footer
    {
        padding-top: 2rem;
        text-align: center;
        font-size: 1.5rem;
        border-top: 1px solid $color-navigation-border;

        &--bold
        {
            font-weight: 700;
        }
    }
}

.ityped-cursor {
    animation: blink .8s infinite;
    color: $color-primary;
}

@keyframes blink {
    50%
    {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}