// // for animations
// .js__port--animation--left{opacity: 0;}
// .js__port--animation--left.animate__animated{opacity: 1;}
// .js__port--animation--right{opacity: 0;}
// .js__port--animation--right.animate__animated{opacity: 1;}


// .section__portfolio
// {
//     background-color: $color-grey-light-1;
// }

// .portfolio
// {
//     &__cat
//     {
//         margin-bottom: 6rem;

//         display: flex;
//         justify-content: center;


//         &--link
//         {
//             text-decoration: none;
//             text-transform: uppercase;
//             font-size: 1.2rem;
//             letter-spacing: 1px;
//             color: $color-grey-dark-3;
//             padding: 1rem 2rem;
//             background-color: $color-white;
//             transition: all .3s ease-in-out;

//             &:not(:last-of-type){margin-right: 2rem;}

//             &:hover{color: $color-primary;}

//             &-1{color: $color-primary;}

//             @include respond(phone)
//             {
//                 padding: .7rem 1.5rem;
//                 // font-size: 1rem;
//                 margin-bottom: 2rem;
//             }
//         }

//         @include respond(tab-port){margin-bottom: 4rem;}
//         @include respond(phone)
//         {
//             margin-bottom: 3rem;
//             display: flex;
//             flex-wrap: wrap;
//         }
//     }

//     &__items
//     {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-wrap: wrap;
//     }
//     &__item
//     {
//         height: 23rem;
//         flex: 0 1 28%;
//         position: relative;
//         cursor: pointer;
//         margin-bottom: 4rem;

//         @include respond(tab-land)
//         {
//             height: 19rem;
//             margin-bottom: 3rem;
//         }
//         @include respond(tab-port){height: 16rem; margin-bottom: 2rem;}

//         @include respond(phone)
//         {
//             flex: 0 1 45%;
//             height: 15rem;
//         }
//     }

//     &__image
//     {
//         width: 100%;
//         height: 23rem;

//         @include respond(tab-land){height: 19rem;}
//         @include respond(tab-port){height: 16rem; margin-bottom: 2rem;}
//         @include respond(phone)
//         {
//             height: 15rem;
//         }
//     }
//     &__slide
//     {
//         background-color: rgba($color-primary, .8);

//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 0%;
//         color: white;
//         text-transform: uppercase;
//         transition: all .2s ease-in-out;

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         &--heading
//         {
//             display: none;
//             font-size: 2.3rem;
//             font-weight: 300;
//             letter-spacing: 1px;

//             @include respond(phone)
//             {
//                 font-size: 1.8rem;
//             }
//         }

//         &--type
//         {
//             display: none;
//             font-size: 1.2rem;
//             font-weight: 400;
//             @include respond(phone)
//             {
//                 font-size: 1.1rem;
//             }
//         }
//     }
//     &__item:hover &__slide 
//     {height: 100%;}

//     &__item:hover &__slide &__slide--heading,
//     &__item:hover &__slide &__slide--type
//     {display: block;}

// }