h1{margin-bottom: 0 !important;}
.home, .about, .resume, .portfolio, .contact
{
    padding: 11rem 1.5rem;
    margin-left: 26rem;
    background-color: var(--color-section-background);
    overflow: hidden !important;

    @include respond(tab-land)
    {
        margin-left: 0;
        padding: 11rem 14rem;
    }

    @include respond(tab-port)
    {
        padding: 11rem;
    }

    @include respond(phone)
    {
        padding: 11rem 5rem;
    }
}

.contact__container
{
    display: flex;

    @include respond(tab-port){flex-wrap: wrap;}

    & > *
    {
        flex-basis: 50%;

        @include respond(tab-port)
        {
            flex-basis: 100%;
        }
    }
}

.home{padding: 0;}
.home
{
    position: relative;
    height: 100vh;

    &__video--background
    {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // display: none;
    }

    &__container
    {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__about
    {
        font-size: 1.8rem;
        width: 82%;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 4rem;

        @include respond(tab-port)
        {
            font-size: 2rem;
        }

        @include respond(phone)
        {
            font-size: 1.9rem;
            width: 90%;
        }
    }
}
.social__media // related to home and portfolio icons
{
    &--list
    {
        list-style: none;
        display: flex;

        & > *:not(:last-child)
        {
            margin-right: 2.5rem;
        }
    }
    &--item
    {
        font-size: 2.5rem;
    }

    &--link
    {
        padding: 1rem;
        border: 3px solid var(--color-navigation-border);
        border-radius: 50%;
        color: inherit;
        cursor: pointer;
        transition: all .5s ease-in-out;
        
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover
        {
            color: var(--color-primary-hover);
            border: 3px solid var(--color-primary-hover);
        }
    }
}